.tag {
    border-radius: 6px;
    margin: 10px 10px 0px 0px;
    padding: 5px 10px;
    background-color: #F0F0F0;
}

#lightbox {
    box-sizing: border-box;
    min-height: 100vh;
    position: fixed;
    top: 0;
    left: -100vw;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    z-index: 2000000;
    background-color: rgba(50, 50, 50, 0.9);
}

#lightbox .content {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 65vw;
    min-height: 100vh;
    padding: 50px;
    background-color: rgba(255, 255, 255);
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
    transition: all 0.2s ease-in;
    margin-left: -65vw;
}

#lightbox.show {
    left: 0;
}

#lightbox.show .content {
    margin-left: 0vw;
}

#lightbox .close {
    align-self: flex-end;
    background: transparent;
    border: none;
    font-size: 30px;
    cursor: pointer;
    position: absolute;
    right: 35vw;
    top: 0px;
}
#lightbox.show .close {
    transition: all 0.2s ease-in;
}
@media screen and (max-width: 1000px) {
    #lightbox .content {
        margin-left: 0vw;
        width: 100%;
        padding: 20px;
    }

    #lightbox.show .close {
        transition: none;
        top: 0px;
        right: 0;
    }
}